h2 {
  text-align: center;
  width: 100%;
  border-bottom: 0.12em solid var(--color-secundario);
  margin: 0.5em 0;
}

.contenedor {
  max-width: 88em;
  margin: auto;
  /*
  width: 95%;
  */
}

/*----------- SECTION -----------*/

/* ------- PRIMER ARTICLE --------- */
.datos {
  
  margin: 2em 0;
  /*
  display: flex;
  justify-content: space-evenly;
  */
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formC {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}
.formC input {
  margin-bottom: 0.5em;
}

.contacto input:hover {
  outline-color: transparent;
  border-color: green;
  border-radius: 2%;
  outline-style: solid;
}

.contacto input:focus {
  outline-color: #0000ff;
  border-color: #0000ff;
  border-radius: 5%;
  outline-style: solid;
}
#limite{
  text-align: end;
  color: grey;
  font-size: 0.8em;
}

#enviar {
  margin: 0.4em;
  width: auto;
  padding: 0.2em;
  border-radius: 15%;
  font-size: 1em;
  border-color: var(--color-secundario);
  background-color: var(--celeste);

  -webkit-box-shadow: 6px 5px 10px 5px rgba(152, 210, 235, 0.7);
  -moz-box-shadow: 6px 5px 10px 5px rgba(152, 210, 235, 0.7);
  box-shadow: 6px 5px 10px 5px rgba(152, 210, 235, 0.7);
}

#enviar:hover {
  transition: 0.5s;
  background-color: var(--beige);
  -webkit-box-shadow: 6px 5px 10px 5px rgba(158, 133, 118, 1);
  -moz-box-shadow: 6px 5px 10px 5px rgba(158, 133, 118, 1);
  box-shadow: 6px 5px 10px 5px rgba(158, 133, 118, 1);
}
#mensaje-error{
  color: #f00;
  padding: 1em;
}
.empresa {
  position: relative;
  height: auto;
  /*border: 2px dotted var(--color-secundario);*/
  /*se puede quitar el borde */
}
.datEmp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  justify-content:space-around;
  /*align-items: center;
  margin: 1em;*/
  
}
.datEmp p {
  /*margin-top: 2px;
  font-weight: 600;*/
}
.datEmp h3 {
  font-size: 1.4em;
  /*border-bottom: 2px solid var(--color-secundario);*/
}

/*.empresajpg { /*
  position: absolute;
  width: 100%;
  height: 100%;


  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}*/

.empresajpg:hover {
  transition: 0.5s;
  opacity: 0.1;
}

aside {
  margin-top: 2%;
  text-align: center;
}

aside h3 {
  background-color: var(--color-secundario);
}









/*-----------------------------CELULAR*/
@media screen and (max-width: 50em) {
  .contenedor {
    width: 95%;
  }

  /*
  .datos{
    no lo utilizo ah
  }*/
  .empresa{
    display: flex;
    flex-direction: column;
    min-height: 18em;
  }
  .datEmp{
    align-items: start;
    justify-content: space-evenly;
    height: 100%;
  }
  .empresajpg { /**/
    position: absolute;
    width: 100%;
    height: 100%;
  
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    margin: 1%;
  }
  iframe {
    width: 100%;
    height: 25%;
  }
}









/*----------------------------ESCRITORIO*/
@media screen and (min-width: 50em) {
  .contenedor {
    width: 90%;
  }

  .datos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .empresa{
    display: flex;
    flex-direction: column;
  }
  .datEmp {
    /*no me permite separarlo con flex*/
  }
  
  .datEmp {
  
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-around;*/
    align-items: center;
    margin: 1em;
  }
  .empresajpg { /* fondo con logo*/
    position: absolute;
    width: 100%;
    height: 100%;
  
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    margin: 1em;
  }
  iframe {
    width: 100%;
  }
}