.contenedor {
  margin: auto auto;
  width: 95%;
  max-width: 88em;
}

/* ----Primera seccion----*/

/*----------------- Primer Article --------*/
.jpgdesc {
  display: flex;
  height: auto;
  margin-bottom: 1em;
}
.contjpg {
  height: fit-content;
  position: relative;
  margin: 0px auto;
}
.cursojpg {
  justify-content: center;
}

.precio-curso {
  position: absolute;
  bottom: 0.6em;
  right: 0.6em;
  padding: 0.25em;
  border-radius: 0.25em;
  font-weight: bold;
  font-size: 100%;
  background-color: var(--color-secundario);
}
.cursojpg img {
  width: 100%;
  height: fit-content;
  border-radius: 0.5em;
}

h2 {
  text-align: center;
  border-bottom: 2px solid var(--color-secundario);
  margin-top: 1.1em;
  margin: 1% 0;
}

h3 {
  margin: 1em;
}

.cursodesc {
  margin: 2%;
  width: 70%;
}

.cursodesc p {
  margin-bottom: 1%;
}
#detalles {
  margin: 0.3em;
  color: var(--beige);
}
.insc {
  position: relative;
  width: 100%;
  height: 1em;
}

.insc a {
  position: absolute;
  right: 0.5em;
  text-decoration: none;
  margin: 0.2em;
  padding: 0.4em;
  border-radius: 10%;
  color: var(--celeste);
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color-secundario);
  opacity: 0.8;
  transition: 0.5s;
}

.insc a:hover {
  background-color: var(--beige);
  color: var(--color-secundario);
}

.unidades li {
  list-style: none;
}

/* ----------Segundo Article -------------*/
.m-b {
  margin-bottom: 2em;
}

.centrado {
  text-align: center;
  background-image: url(../img/d5.png);
}

.contenido {
  justify-content: space-evenly;
}

.iconu {
  padding: 1px;
  width: 1em;
  margin-right: 0.4em;
  filter: invert(90%);
}
#cambiar {
  font-style: none;
  border-style: none;
  width: 50%;
  border-radius: 0.2em;
  background-color: #98d2ebb6;
  padding: 0.2em;
  margin-top: 0.5em;
}
/* ---------- Segunda seccion -------------*/
.doc {
  text-align: center;
  padding: 5px;
  background-color: var(--color-secundario);
}

.docente {
  min-height: 20%;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profe {
  width: 30%;
  margin: auto;
}

.profedesc {
  margin: 0 auto auto auto;
}

.profedesc ul {
  margin-top: 1.5em;
  justify-content: space-around;
}

.profedesc li {
  list-style: none;
}

.profejpg {
  max-width: 60%;
  border-radius: 50%;
}

.alinearC {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.iconval {
  padding: 1px;
  width: 1em;
  margin-right: 0.4em;
  filter: invert(100%);
}

/*------------ Otros cursos / Aside ------------*/
aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1%;
}

.otrosCursos {
  text-align: center;
  position: relative;
  margin: 0 0.5em;
}

.otrosCursos img {
  width: 100%;
  height: 15em;
}

.otrosCursos a {
  text-decoration: none;
  color: var(--celeste);
}

.otroValor {
  position: absolute;
  bottom: 0.4em;
  right: 0.2em;
  padding: 0.25em;
  border-radius: 0.25em;
  font-weight: bold;
  background-color: var(--color-secundario);
}

.as_t {
  margin-bottom: 0.8em;
  border-bottom: 0.1em var(--celeste) solid;
}
.responsive {
  width: 95%;
  margin: auto;
}

/* -------------------- ESTILOS FOR TELEFONO ---------------------------- */
@media screen and (max-width: 55em) {
  /*Primer Article*/
  .jpgdesc {
    flex-direction: column;

    height: auto;
    margin-bottom: 1em;
  }
  .contjpg {
    width: 90%;
  }
  .cursojpg {
    display: flex;
    width: 100%;
  }

  .cursodesc {
    margin: 1em;
    padding: 1em;
    width: 90%;
  }

  /*Segundo Article*/
  .contenido {
    display: inline;
    flex-direction: column;
    align-items: start;
  }

  /*Segunda Section---------------*/
  .docente {
    flex-direction: column;
  }

  .profedesc {
    width: 80%;
  }

  .profedesc ul {
    display: flex;
    flex-direction: column;
  }

  .alinearV {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 5%;
    margin: 0 5% 1em 0;
  }

  /* Otros cursos / Aside ------------*/
  aside {
    flex-wrap: wrap;
  }

  .otrosCursos {
    width: calc(50% - 1em);
    text-align: center;
    position: relative;
  }

  .otrosCursos img {
    width: 100%;
    height: 15em;
  }
}

/* ----------------------------- ESTILOS FOR ESCRITORIO------------------- */
@media screen and (min-width: 55em) {
  /*Primer Article*/
  .jpgdesc {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  .contjpg {
    width: 40%;
    padding: 0.5em;
  }
  .cursojpg {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cursodesc {
    margin: 0.5em;
    padding: 0.5em;
    width: 70%;
  }

  /*Segundo Article sin cambios ?*/
  .contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /*SEGUNDA SECTION ---------*/
  .docente {
    width: 100%;
    flex-direction: row;
  }

  .profedesc {
    width: 60%;
  }

  .profedesc ul {
    display: flex;
    flex-direction: row;
  }

  .alinearV {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  /* Otros cursos / Aside ------------*/

  .otrosCursos {
    width: calc(25% - 1em);
    text-align: center;
    position: relative;
  }
}

/*JAVA SCRIPTS CLASS*/
.d-none {
  display: none;
  transition: 1s;
}

.d-none {
  transition: all 1s ease-in-out;
}

.unidades {
  transition: 0.9s;
}

article a {
  text-decoration: none;
  color: var(--celeste);
}
