.contenedor {
    margin: auto auto;
    max-width: 1400px;
    
}

/* ----Primera seccion----*/

/*----------------- Primer Article --------*/
.jpgdesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin-bottom: 1em;
}

.cursojpg {
    display: flex;
    width: 30.3%;
    height: auto;
    justify-content: center;
    position: relative;
}
.precio-curso{
    background-color: black;
    background-image: url(../img/precios/20usdw.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px black solid;
    width: 35%;
    height: 10%;
    position: absolute;
    background-position: center;
    bottom: 0px;
    right: 0px;
    border-radius: 20%;
}

.cursojpg img {
    max-width: 100%;
    border-radius: 20%;
}
h2 {
    text-align: center;
    border-bottom: 2px solid blue;
    margin: 1% 0;
}
h3{
    margin: 1em;
}

.cursodesc {
    margin: 2%;
    width: 75%;
    height: 100%;

}

.cursodesc p {
    margin-bottom: 1%;
}
.insc{
    position: relative;
    width: 100%;
    height:1em ;
    
}
.insc a{
    position: absolute;
    right:0.5em;
    text-decoration: none;
    margin: 0.2em;
    padding: 0.4em;
    border-radius: 10%;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--beige);
    opacity: 0.8;
    transition: 0.5s;
}
.insc a:hover{
    background-color: #00ff00;
}

.unidades li {
    list-style: none;
}
.unidades i{
    padding: 1px;
    max-width: 10%;
    min-width: 9%;
    margin-right: 0.5em;
}

/* ----------Segundo Article -------------*/
.centrado {
    text-align: center;
    margin-bottom: 2%;
    background-image: url(../img/d5.png);
    
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.iconu{
    padding: 1px;
    max-width: 8%;
    margin-right: 0.4em;
    /*border: 1px #00ff00 solid;*/
    filter:invert(90%)
}


/* ---------- Segunda seccion -------------*/
.doc{
    text-align: center;
    margin-bottom: 2%;
    background-color: rgba(32, 206, 16, 0.408);
    /* Color a eleccion segun quede mejor */
}
.docente{
    min-height: 20%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    
}
.profe{
    width: 30%;
    margin: auto;
}
.profedesc{
    width: 60%;
    margin:auto;

}
.profedesc ul{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.profedesc li{
    list-style: none;
    width: calc(33.3% - 2em);
}
.profejpg{
    max-width: 60%;
    border-radius: 50%;
}
.alinear{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
}
.iconval{
    padding: 1px;
    max-width: 10%;
    min-width: 9%;
    margin-right: 0.5em;
    filter: invert(100%);
    /*border: 1px #00ff00 solid;*/
}

/*--------Mas o menos quedo-------*/

/*------------ Otros cursos / Aside ------------*/
aside{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.otrosCursos{
    width: calc(25% - 1em);
    text-align: center;
    position: relative;
}
.otrosCursos img{
    max-width: 100%;
}
.otrosCursos a{
    text-decoration: none;
    color: var(--celeste);
}
.otrosCursos a:hover{
    transition: 0.5s;
    width: 110%;

}
.otroValor{
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    background-color: black;
    border-radius: 15%;
    border: 1px var(--celeste) solid;
}
