.giftCardSection{
    display:flex;
    flex-direction: row;
  }

  .giftcardPreview{
    margin: 5px 25px;
  }

  .giftcardPreview h3{
    text-align: center;
  }

  .giftcardDemo{
    height: 300px;
    width: 300px;
    background-color: #555;
  }

  .giftcardForm{
    margin: 30px;
    width: 100%;
  }

  .giftcardFormSelect{
    width: 125px;
    display: inline-block;
    margin: 10px;
  }

  .giftcardFormSelect label{
    display:block;
    width: 125px;
    text-align: center;
  }

  .giftcardFormSelect input{
    width: 20px;
    display: block;
    margin: 0px auto;
  }

  .giftcardColor{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: #555;
  }

  .giftcardFondo{
    height: 125px;
    width: 125px;
    background-color: #555;
  }