.giftCardSection{
    display:flex;
    flex-direction: row;
  }

  .giftcardPreview{
    margin: 30px;
  }

  .giftcardPreview h3{
    text-align: center;
  }

  .giftcardDemo{
    height: 300px;
    width: 300px;
    background-color: #555;
  }

  .giftcardDemoText{
    position:relative;
    top: 40%;
    text-align: center;
    text-shadow: -0.5px -0.5px #000, 0.5px 0.5px #000, -0.5px 0.5px #000, 0.5px -0.5px #000
  }

  .giftcardDemoMonto{
    position: relative;
    background-color:black;
    color:white;
    font-size: 30px;
    width: 125px;
    height: 40px;
  }


  .giftcardForm{
    margin: 30px;
    width: 100%;
  }

  .giftcardFormInput{
    width: 12%;
    height: 32px;
    margin: 8px 0px;
    font-size: 20px;
    padding-left: 25px;
    transition: width 0.4s ease-in-out;
  }

  .giftcardFormInput:focus{
    width: 35%;
    outline: none;
  }

  .giftcardFormInputDestinatario{
    background-image: url('../img/icons/user.svg');
    background-position: 5px;
    background-size: 15px;
    background-repeat: no-repeat;
  }

  .giftcardFormInputMonto{
    background-image: url('../img/icons/money.svg');
    background-position: 5px;
    background-size: 15px;
    background-repeat: no-repeat;
  }

  .giftcardFormSelectColor{
    width: 50px;
    display: inline-block;
    margin: 10px;
  }

  .giftcardFormSelectColor input{
    width: 20px;
    display: block;
    margin: 8px auto;
  }
  
  .giftcardFormSelectFuente{
    width: auto;
    display: inline-block;
    margin: 10px;
  }

  .giftcardFormSelectFuente input{
    width: 20px;
    display: block;
    margin: 0px auto;
  }

  .giftcardFormSelectFuente label{
    display:block;
    width: fit-content;
    text-align: center;
  }

  .giftcardFormSelectUbicacion{
    width: 85px;
    display: inline-block;
    margin: 10px;
  }

  .giftcardFormSelectUbicacion input{
    width: 20px;
    display: block;
    margin: 6px auto;
  }

  .giftcardFormSelectFondo{
    width: 125px;
    display: inline-block;
    margin: 10px;
  }

  .giftcardFormSelectFondo input{
    width: 20px;
    display: block;
    margin: 6px auto;
  }

  .giftcardColor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #555;
  }

  .giftcardFondo{
    height: 125px;
    width: 125px;
    background-color: #555;
  }

  .imagePosicion{
    width: 85px;
    height: 85px;
    display:block;
  }

  .giftcardColorSelect1{
    background-color: rgba(255, 255, 255, 0.8);
  }

  .giftcardColorSelect2{
    background-color: rgba(255, 0, 0, 0.8);
  }

  .giftcardColorSelect3{
    background-color: rgba(0, 128, 0, 0.8);
  }

  .giftcardColorSelect4{
    background-color: rgba(0, 0, 255, 0.8);
  }

  .giftcardColorSelect5{
    background-color: rgba(255, 255, 0, 0.8);
  }

  .giftcardColorText1{
    color: rgba(255, 255, 255, 0.8);
  }

  .giftcardColorText2{
    color: rgba(255, 0, 0, 0.8);
  }

  .giftcardColorText3{
    color: rgba(0, 128, 0, 0.8);
  }

  .giftcardColorText4{
    color: rgba(0, 0, 255, 0.8);
  }

  .giftcardColorText5{
    color: rgba(255, 255, 0, 0.8);
  }

  .giftcardText1{
    font-size: 20px;
    font-weight: bold;
  }

  .giftcardText2{
    font-size: 28px;
    font-weight: bold;
  }

  .giftcardText3{
    font-size: 32px;
    font-weight: bold;
  }

  .giftcardText4{
    font-size: 48px;
    font-weight: bold;
  }

  .giftcardText5{
    font-size: 60px;
    font-weight: bold;
  }

  .giftcardPos1{
    top: 211px;
    left: 175px;
  }

  .giftcardPos2{
    top: -50px;
    left: 175px;
  }

  .giftcardPos3{
    top: -50px;
    left: 0px;
  }

  .giftcardFondo1{
    background: rgb(0,10,80);
    background: linear-gradient(45deg, rgba(0,10,80,1) 0%, rgba(0,100,255,1) 50%, rgba(0,10,80,1) 100%);
  }

  .giftcardFondo2{
    background: rgb(80,0,10);
    background: linear-gradient(45deg, rgba(80,0,10,1) 0%, rgba(255,0,80,1) 50%, rgba(80,0,10,1) 100%);
  }

  .giftcardFondo3{
    background: rgb(10,80,0);
    background: linear-gradient(45deg, rgba(10,80,0,1) 0%, rgba(80,255,0,1) 50%, rgba(10,80,0,1) 100%);
  }

  .giftcardFondo4{
    background: rgb(80,80,10);
    background: linear-gradient(45deg, rgba(80,80,10,1) 0%, rgba(255,255,80,1) 50%, rgba(80,80,10,1) 100%);
  }

  .giftcardFondo5{
    background: rgb(80,10,80);
    background: linear-gradient(45deg, rgba(80,10,80,1) 0%, rgba(255,80,255,1) 50%, rgba(80,10,80,1) 100%);
  }

  .giftcardButton{
    background-color: var(--celeste);
    border: none;
    color: var(--color-fondo);
    padding: 10px 50px;
    margin: 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .giftcardButton:hover{
    background-color: var(--color-secundario);
    color: var(--celeste);
  }
