@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color-fondo: #0d1821;
  --color-secundario: #344966;
  --celeste: #98d2eb;
  --beige: #9e8576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-fondo);
}

.header {
  background-color: var(--color-secundario);
}

.header-contenido {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formulario {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-search {
  background-color: var(--celeste);
  padding: 3px;
  border-radius: 100px;
  border: none;
  width: 25px;
}

.input {
  border-radius: 8px;
  padding-left: 5px;
  border: none;
}

.input:focus {
  outline: 3px solid transparent;
  transition: 180ms box-shadow ease-in-out;
}

.btn-search:hover {
  cursor: pointer;
}

.img-search {
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 5px 0px;
  background-color: #98d2eb;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  list-style-type: none;
}

.item a {
  color: #0d1821;
  text-decoration: none;
}

.navbar a:hover {
  color: #344966;
}

.carrito {
  position: relative;
}

.cantidad {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #9e8576;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.logo {
  width: 80px;
}

main {
  color: var(--celeste);
}

.footer {
  background-color: var(--beige);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.menu-inferior a {
  display: block;
  text-decoration: none;
  color: black;
}

.redes-sociales a {
  text-decoration: none;
}

.menu-inferior a:hover {
  display: block;
  font-weight: bold;
  color: var(--color-secundario);
  transition: all ease 0.1s;
}

.menu-inferior,
.datos-personales {
  text-align: center;
  width: 175px;
}

.icon {
  cursor: pointer;
  width: 30px;
  margin-right: 5px;
}

/*Para el mensaje de alerta*/
.d-none{
  display: none;
  transition: 1s;
}
.supra{
  background-color: #34496693;
  display:flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  transition:1s;
}
.supra svg{
  filter:invert(50%);
  height: 25%;
  padding: 0.5em;
}
.alerta{
  color: var(--celeste);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-fondo);
  border: 0.2em solid black;
  width: 50%;
  height: 40%;
  padding: 1%;
  border-radius: 0.5em;
  /**/
  -webkit-box-shadow: 10px 10px 150px 15px rgba(0,188,250,0.6);
-moz-box-shadow: 10px 10px 150px 15px rgba(0,188,250,0.6);
box-shadow: 10px 10px 150px 15px rgba(0,188,250,0.6);
}
.btn-alert a{
text-decoration: none;
border: 0.1em solid var(--color-secundario);
border-radius: 0.3em;
padding: 0.5em;
margin: 0.5em;
}
#irA{
  color: green;
}
#noIrA{
  color: var(--color-secundario);
}
/*Fin mensaje de alerta*/