@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color-fondo: #0d1821;
  --color-secundario: #344966;
  --celeste: #98d2eb;
  --beige: #9e8576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-fondo);
}

.header {
  background-color: var(--color-secundario);
}

.header-contenido {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
}

main {
  color: var(--celeste);
}

.footer {
  background-color: var(--beige);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.menu-inferior a {
  display: block;
  text-decoration: none;
  color: black;
}

.redes-sociales a {
  text-decoration: none;
}

.menu-inferior a:hover {
  display: block;
  font-size: 16.5px;
  color: var(--color-secundario);
  transition: all ease 0.2s;
}

.menu-inferior,
.datos-personales {
  text-align: center;
  width: 175px;
}

.icon {
  width: 30px;
  margin-right: 5px;
}
