@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color-fondo: #0d1821;
  --color-secundario: #344966;
  --celeste: #98d2eb;
  --beige: #9e8576;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--color-fondo);
}

.header {
  background-color: var(--color-secundario);
}

.header-contenido {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-name {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-name h2 {
  color: white;
}

.logo-name h2:hover {
  color: var(--celeste);
  transition: all 0.5s;
}

.formulario {
  display: flex;
  gap: 5px;
  align-items: center;
}

.btn-search {
  background-color: var(--celeste);
  padding: 3px;
  border-radius: 100px;
  border: none;
  width: 25px;
}

.input {
  border-radius: 8px;
  padding-left: 5px;
  border: none;
}

.input:focus {
  outline: 3px solid transparent;
  transition: 180ms box-shadow ease-in-out;
}

.btn-search:hover {
  cursor: pointer;
}

.img-search {
  width: 100%;
}

nav {
  width: 100%;
  padding: 5px 0px;
  background-color: #98d2eb;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  list-style-type: none;
}

nav ul li a {
  color: #0d1821;
  text-decoration: none;
}

nav ul li a:hover {
  color: #344966;
}

.checkbtn img {
  width: 20px;
}

.checkbtn {
  justify-content: center;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 55em) {
  .logo-name h2 {
    display: none;
  }

  .header {
    z-index: 999;
    position: fixed;
    width: 100%;
  }

  .checkbtn {
    display: flex;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 40px 0px;
    background-color: var(--color-fondo);
    top: 148px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 50px;
  }

  nav ul li a {
    font-size: 20px;
    color: var(--celeste);
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.carrito {
  position: relative;
}

.cantidad {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #9e8576;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

.logo {
  width: 80px;
}

main {
  color: var(--celeste);
}

.footer {
  background-color: var(--beige);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.menu-inferior a {
  display: block;
  text-decoration: none;
  color: black;
}

.redes-sociales a {
  text-decoration: none;
}

.menu-inferior a:hover {
  display: block;
  font-weight: bold;
  color: var(--color-secundario);
  transition: all ease 0.1s;
}

.menu-inferior,
.datos-personales {
  text-align: center;
  width: 175px;
}

.icon {
  cursor: pointer;
  width: 30px;
  margin-right: 5px;
}

/*Para el mensaje de alerta*/
.d-hidde {
  transition: 0.7s;
  opacity: 0;
  pointer-events: none;
  position:fixed;
  z-index: 3;
  transition: 0s;
}
.supra {
  background-color: #34496693;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  opacity: 1;
  transition: 0.6s;
}
.supra svg {
  filter: invert(50%);
  height:3em;
  padding: 0.5em;
  min-height: 1em;
}
.alerta {
  color: var(--celeste);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-fondo);
  border: 0.2em solid black;
  width: 50%;
  height: fit-content;
  padding: 1%;
  border-radius: 0.5em;
  -webkit-box-shadow: 10px 10px 150px 15px rgba(0, 188, 250, 0.6);
  -moz-box-shadow: 10px 10px 150px 15px rgba(0, 188, 250, 0.6);
  box-shadow: 10px 10px 150px 15px rgba(0, 188, 250, 0.6);
}
.btn-alert{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-alert a {
  text-decoration: none;
  border: 0.1em solid var(--color-secundario);
  border-radius: 0.2em;
  padding: 0.4em;
  margin: 0.4em;
}
#irA {
  color: green;
}
#noIrA {
  color: var(--color-secundario);
}
/*Fin mensaje de alerta*/


/* CARRITO DISEÑO DESPLEGADO */
.content-cart{
  background-color: white;
  border-radius: 0.2em;
  padding: 0.8em;
  position: fixed;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  z-index: 3;
  transition: 0.8s;
  opacity:1;
}
#sin-art{
  text-align: center;
  width: 90%;
  margin: auto;
}
.productos-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.item-cart{
  background-color: green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width:100%;
  margin: auto;
}
.item-cart *{
  margin: 0.3em;
}
.cant-item-cart{
  padding: 0.5em;
  margin:0.5em;
  border-radius: 50%;
  background-color: #b3b3b3;
}
.regulador button{
  padding: 0.1em 0em 0em 0em;
  margin: 0;
  width: 1.5em;
  border: 0.1em solid black;
  background-color: #b3b3b3;
}
.menos{
  border-radius: 0.2em 0em 0em 0.2em;
}
.mas{
  border-radius: 0 0.2em 0.2em 0;
}
.eliminar-item-cart{
  font-weight: 600;
  background-color: red;
  border-radius: 0.1em;
  width: 2em;
  padding: 0.4em;
  border: 0.1em solid black;

}
.btn-cart button{
  margin: auto;
  padding: 0.2em;
  border-radius: 0.1em;
  background-color: var(--beige);
  border: 0.1em solid #50004c
}

/* FIN CARRITO DESPLEGADO */

@media only screen and (max-width: 50em) {
  .header-contenido {
    padding: 20px;
    gap: 10px;
  }
}
